@charset "UTF-8";

body {
    background-image: url(imagens/imagem-fundosite.png);
    text-align: center;
    height: 100%;
    width: 100%;
}

header {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
}

header img {
    width: 50px;
    margin-right: 15px;
       
}

header h1 {
    font-size: 3em;
    font-weight: bold;
    color: white;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.seta_voltar {
    transform: rotate(-180deg);
    padding: 10px;    
    height: 100px;
    width: 100px;
    align-items: center;
}

.seta_voltar img {
    width: 100%;
    
}

.seta_voltar :hover {
    background-color: rgba(255, 255, 255, 0.767);
    border-radius: 50%;
    transition: 0.2s;
    padding: 10px;
    cursor: pointer;

}

.PokemonCard {
    height: 600px;
    width: 400px;
    border: 10px solid black;
    display: flex;
    flex-direction: column;
    padding: 15px;
    align-items: center;
    justify-content: center;
    background-image: url(imagens/fundo.png);
    

}

.PokemonCard > img {
    width: 100%;
    padding: 15px;

}

.PokemonCard h2 , p {
    background-color: white;
    padding: 10px;
    font: normal 1em arial, helvetica, sans-serif;;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.459);
}

.seta_avancar {
    padding: 10px;
    height: 100px;
    width: 100px;
    align-items: center;
    
}

.seta_avancar img {
    width: 100%;
}

.seta_avancar:hover  {
    background-color: rgba(255, 255, 255, 0.767);
    border-radius: 50%;
    transition: 0.2s;
    padding: 10px;
    cursor: pointer;
}